<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="WSProjectConnectionString" connectionString="Data Source=WIN8PC\SQLEXPRESS;Initial Catalog=WSProject;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculator1"/>
        <binding name="BasicHttpBinding_IWebService1"/>
        <binding name="BasicHttpBinding_IWebService2"/>
        <binding name="BasicHttpBinding_IWebService3"/>
        <binding name="BasicHttpBinding_IWebService4"/>
        <binding name="BasicHttpBinding_IWebService5"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2596/WebService1/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService1" contract="WebService1.IWebService1" name="BasicHttpBinding_IWebService1"/>
      <endpoint address="http://localhost:2606/WebService2/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService2" contract="WebService2.IWebService2" name="BasicHttpBinding_IWebService2"/>
      <endpoint address="http://localhost:2609/WebService3/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService3" contract="WebService3.IWebService3" name="BasicHttpBinding_IWebService3"/>
      <endpoint address="http://localhost:2613/WebService4/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService4" contract="WebService4.IWebService4" name="BasicHttpBinding_IWebService4"/>
      <endpoint address="http://localhost:2617/WebService5/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService5" contract="WebService5.IWebService5" name="BasicHttpBinding_IWebService5"/>
    </client>
  </system.serviceModel>
</configuration>