<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WSProjectConnectionString" connectionString="Data Source=WIN8PC\SQLEXPRESS;Initial Catalog=WSProject;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebService4"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2613/WebService4/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService4" contract="WebService4.IWebService4" name="BasicHttpBinding_IWebService4"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>